* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

.header {
  padding: 20px 10px;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

p {
  font-size: 1.2em;
  margin: 10px 0 20px;
}

/* float area where shape floats */
.floatarea {
  position: relative;
  width: 90%;
  max-width: 300px;
  height: 30vh;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

/* The floating shape */
#shape {
  position: absolute;
  display: none;
  transform: translate(-50%, -50%);
 
}

/* this style will adjust webpage to screen size*/
@media (max-width: 480px) {
  h1 {
    font-size: 1.8em;
  }

  p {
    font-size: 1em;
  }

  .floatarea {
    height: 50vh;
  }
}
